@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gold: #d4af37;
  --emerald: #1dbd85;
  --background: #050608;
  --card-bg: #0a0a0a;
  --border: #1a1a1a;
}

body {
  background-color: var(--background);
  color: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
